#adminDisclaimer { 
    width: 80%;
    margin-left: 10%;
}

#adminButtons { 
    text-align: center;
}

#contentInputScore { 
    margin-right: 0px !important;
    width: 100%;
    position: relative;
}

#scoreGoButton, #clearScoreSearchButton { 
    position: absolute;
    top: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.teamText { 
    font-size: 20px;
}

.teamText, .connectorText, .scoreText, .detailsText { 
    text-align: center;
}


#scoreGoButton { 
    right: 18px;
}


.invalidScore { 
    display: none;
}

input { 
    text-align: center;
}

.form-control { 
    font-size: 18px;
}

.nonInputContent { 
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.punctuationText { 
    position: absolute;
    left: -4px;  
    top: -3px;
    font-size: 30px;
}

#contentInputScoreWrapper { 
    margin-top: 30px;
    position: relative;
}

select { 
    width: 100%;
}

.searchResult { 
    margin-bottom: 25px;
    border: 3px solid silver;
    background-color: #dddddd;
    padding: 0px 10px;
    border-radius: .25rem;
}

.changeNTeams { 
    position: absolute;
    font-size: 30px;
    cursor: pointer;
}

#incrementTeams { 
    right: 50px;
}

#decrementTeams { 
    left: 50px;
}

.totalTeamsText { 
    font-size: 15px;
    font-weight: none;
}

.totalTeamsNum { 
    font-size: 20px;
}

.centerContent { 
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

#poolCreation { 
    width: 100%;
}

@media screen and (max-width: 767px) { 
    #adminButtons { 
        width: 100%;
    }   
    .customContainer { 
        width: 100%;
        margin-left: 0%;
    }
    .changeNTeams { 
        top: 2px;
    }
    #clearScoreSearchButton { 
        left: 19px;
    }
} 

@media screen and (min-width: 768px) { 
    #adminButtons { 
        width: 80%;
    } 
    .customContainer { 
        width: 80%;
        margin-left: 10%;
    }
    .changeNTeams { 
        top: 10px;
    }
    #clearScoreSearchButton { 
        right: 70px;
    }
}

.removeTeamMember { 
    position: absolute;
    left: 0px;
    top: 0%;
}

#poolTimeDisclaimer { 
    margin-top: 15px;
    text-align: center;
}

#addAnotherPoolDiv, #submitNewLeagueDiv { 
    margin-top: 25px;
}

.leagueBtn {
    font-size: 20px; 
    width: 100%;
}

#adminButtonsWrapper { 
    width: 100%;
    text-align: center;
    margin: 15px 0px;
}

.adminUnpressed {
    background-color: rgb(200,200,200);
    border: 1px solid rgb(200,200,200);
}

.adminPressed {
    background-color: rgb(100,100,100);
    border: 1px solid rgb(100,100,100);
}


.contentCol { 
    text-align: center;
}
