#websiteTitle {
    font-size: 60px;
    color: white;
    letter-spacing: 5px;
}

.navbar-brand { 
    font-size: 40px;
}

.nav-link { 
    font-size: 20px;
    margin-right: 10px;
    border-radius: 15px;
}

.noNotificationsMessage { 
    text-align: center;
    padding: 25px 0px;
    font-size: 20px;
}

th, td { 
    text-align: center;
    border: 5px solid #006db0 !important;
    color: black;
    font-size: 20px;
}


.tableUserLink { 
    color: black;
    font-weight: bold;
}

.tableUserLink:hover { 
    color: #eeeeee;
    text-decoration: none;
}


.btn-warning { 
    color: white;
}

#statsRow { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 100vh;
    width: 16.666%;
}

#statsCol {
    background-color: #006db0;
}

body {
    font-family: 'Alegreya Sans'; 
}

.btn-warning:hover { 
    color: white;
}


.userLink { 
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.userLink:hover { 
    color: rgb(80,80,80);
    text-decoration: none;
}

.alert { 
    text-align: center;
}

.btn-danger, .alert-danger { 
    background-color: rgb(212,31,0,0.75); 
    color: white;
}

#landingFooter {
   margin-top: 30px;
   padding: 25px 0px; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   background-color: #006db0 !important; 
}

.btn-outline-success { 
    border: 1px solid rgb(0,212,120);
    background-color: rgba(0,212,120,0.75); 
}

.badge-light { 
    margin-left: 5px;
}

#navbarOnTheVideo {
    width: 100%; 
    position: fixed !important;
    z-index: 5;
    top: 0;
    left: 0;
    height: 10vh;
}

h2 { 
    text-align: center;
}

#blankDiv {
    width: 100%;
    height: 86px;
}

#lifetimeStatistics {
    background-color: #006db0;
    z-index: 1;
    height: 100vh;
    color: white;
    text-align: center;
}

.statisticNumber { 
    font-size: 30px;
}

.statisticTitle { 
    font-size: 15px; 
}

#userContent { 
    background-color: white;
}

#lifetimeStatisticsTitle { 
    font-size: 25px;
    margin-top: 10px;
}

#statisticsFlexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding-top: 86px;
}

#loggedInAs {
    margin-bottom: 10px;
}

#blankDiv {
    margin-bottom: 10px;
}


#landingFooterUser { 
    padding: 25px 0px;
    text-align: center;
    margin-top: 0px;
}

@media only screen and (min-width: 768px) {
    .nav-link:hover { 
        background-color: rgb(200,200,200);
    }
    .nav-link { 
        transition: background-color 1s;
    }
}

@media only screen and (max-width: 767px) { 
    .nav-link:hover { 
        background-color: none;
    }
    .nav-link { 
       transition: none; 
    }
}

.btn-outline-info, .btn-info { 
    border: 1px solid #006db0;
}

.btn-outline-info:hover, .btn-outline-info:active, .btn-info:hover, .btn-info:active { 
    background-color: #005d90 !important;
    border: ;
}

button:focus {
    outline: 0;
    box-shadow: none !important;
}

.btn-info { 
    background-color: #006db0;
}

.btn-outline-info { 
    color: #006db0;
}

.subsequentHeader { 
    margin-top: 45px;
}
