#leagueSubtitle { 
    text-align: center;
}

#gameLocationParagraph { 
    font-size: 25px;
}

table { 
    width: 100%;
}

.rank { 
    width: 10%;
}

.team { 
    width: 80%;
}

.record { 
    width: 10%;
}

#noSpaceInPoolAlert, #noTeamsInPool { 
    display: none;
}

#poolSignUp { 
    width: 100%;
    height: 60px;
    display: none;
}

#poolSignUpButton { 
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: white;
}

.fa { 
    margin-right: 5px; 
}

#poolTable { 
    margin: 25px 0;
}

.alert { 
    display: none;
}

#addAnotherUser { 
    width: 100%; 
    color: white;
}

.teamMemberWrapper { 
    padding: 20px 0px;
}



.fa-close { 
    font-size: 16px;
    border: none;
}

.removeTeamMember { 
    padding: 2px 8px 2px 5px;
    margin-left: 5px;
}

.errorText { 
    font-weight: bold;
}
