#searchDisclaimer { 
    margin: 0 10%;
}

#searchBoxDiv { 
    width: 80%;
    margin-top: 15px;
    margin-left: 10%;
    position: relative;
}

#searchBox { 
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
    border-radius: 50px;
}

#searchButton { 
    position: absolute;
    right: 15px;
    bottom: 3px;
}

#searchBtns { 
    width: 100%;
}

#searchResultsText { 
    text-align: center;
    font-size: 22px;
}

#resultsBox { 
    margin-top: 20px;
    display: none;
}

#nResults { 
    font-size: 30px;
    font-weight: bold;
}

#searchResults { 
    margin-top: 25px;
}

.searchResult { 
    text-align: center;
    font-size: 20px;
}

#sportsImageCollection { 
    width: 80%;
    display: flex;
    margin-left: 10%;
    margin-top: 25px;
}

.sportsImageContainer { 
    text-align: center;
    position: relative;    
    margin-bottom: 25px;
    z-index: 3;
}

.sportsImageTextContainer { 
    position: absolute;
    width: 90%;
    margin-left: 5%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.sportsImageText { 
    text-align: center;
    color: #006db0;
    font-weight: bold;
    font-size: 20px;
}

.sportsImage { 
    width: 100%;
    z-index: 3;
    opacity: 0.3;
}

.sportsImageLink { 
    z-index: 5;
}
