#poolRank { 
    font-size: 40px;
}

.alert-dark { 
    font-size: 20px;
}

th, td { 
    
}

.card { 
    text-align: center;
}

.card-body { 
    font-size: 20px;
}

.gameOutcome { 
    padding-right: 5px;
}

.outcomeWin { 
  background-image: url("../data/confetti.png");     
}

.outcomeLoss { 
  background-image: url("../data/raindrops.jpg");
  background-size: cover;
}

.outcomeWin, .outcomeTBDOrTie, .outcomeLoss { 
    margin-bottom: 10px;
}

.card-body { 
    padding-left: 15px;
    padding-right: 15px;
}

.gameText { 
    background-color: white;
}

.captain, .gender { 
    width: 15%;
}

.gameDiv {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.teamMetaInfo { 
    text-align: center;
}
