#startContainer { 
    margin: 0;
    padding: 0;
}

.upcomingGame, .upcomingGamesHeaders { 
    text-align: center;
}

#upcomingGames { 
    margin: 100px 0;
}

#notificationBtns { 
    width: 100%;
}

.gameDiv { 
    font-size: 20px;
}

#profilePicture {
    width: 100%;
    height: 100%;
}

#profilePictureDiv { 
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

}

#profilePictureText { 
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    background-color: rgba(128,128,128,0.5);
}

#progressBarDiv {
    position: absolute;
    width: 45%;
    display: none;
}


.uploadInstruction {
    width: 100px; 
    z-index: 5;
}

#changePicture { 
    font-size: 10px;
    width: 100%;
    position: absolute;

}


.btn-secondary:hover { 
    background-color: rgb(100,100,100) !important;
} 

#infoRow { 
    z-index: 2;
}

#playersNotificationMessages, #captainNotificationMessages { 
    display: none;
}

.upcomingGame { 
    font-size: 20px;
    border-radius: 15px;
    padding: 10px 0px;
}

.btn-outline-danger { 
    padding-top: 0px;
    padding-bottom: 0px;
}

a.gameInstance { 
    width: 100%;
}

.card-body { 
    border-bottom: 1px solid rgb(220,220,220);
}

.notificationResponse { 
    margin-left: 5px;
}

.buttonFlexbox { 
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center; 
    height: 100%;
    width: 100%;
}

.upcomingGameEvenStyle {
    color: white;
}

button.expand { 
    color: black;
}

button.expand:hover { 
    color: black;
}

.gameDateText { 
    text-align: left;
}

.gameLeagueText { 
    text-align: center;
}

#sliderText { 
    color: white;
    font-size: 17px;
}

.gameExpandText { 
    text-align: right;
}

#landingFooter { 
    width: 100%;
}

.leftGameBodyLarge { 
    text-align: left;
}

@media only screen and (min-width: 768px) {
    .leftGameBody { 
        text-align: left;
    }
    .rightGameBody { 
        text-align: right;
    }
    .notificationText { 
        text-align: left;
    }
}


@media only screen and (max-width: 767px) {
    .leftGameBody { 
       text-align: center; 
    }
    .rightGameBody {
        text-align: center;
    }
    .notificationText {
        text-align: center;
    } 
    .notificationResponse { 
        width: 50%;
        margin-top: 15px;
    }
}

.notificationMessage {
    margin-top: 10px;
    border: 2px solid rgb(225,225,225);
    background-color: rgb(225,225,225);
    border-radius: .25rem;
    padding: 5px;
    font-weight: bold;
}

.notificationTextDiv { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.notificationText { 
    font-size: 18px;
}

.centerGameBody { 
    text-align: center;
}

.versus { 
    font-size: 30px !important;
}

h2 { 
    margin: 20px 0;
}

#privateSlider { 
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* The following is the toggle switch css */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-bottom: 0px;
  margin-right: 5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #d4af37;
}

input:focus + .slider {
  box-shadow: 0 0 1px #d4af37;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* end slider css */


/* begin image upload css */

input[type="file"] {
    display: none;
}

.custom-file-upload { 
    cursor: pointer;
}

/* end image upload css */
